body{
    margin: 0;
}
.background {
    background-image: url('picn.jpg');
    background-repeat: no-repeat;
    background-size: cover; /* Adjusted to cover the entire div */
    background-attachment: fixed;
    width: 100%; /* Adjusted to 100% width */
    height:740px; /* Adjusted height to fit content */
    text-align: center;
    display: flex;
    flex-direction: column;
    
}

.btn btn-primary {
    background-color: antiquewhite;
    color: black;
    width:auto;
    height:70px;
    text-align: center;
}
.sign
{
    color: black;
}

.img
{
    text-align: center;
    margin-left: 600px;
    
}